################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RiverBooks.Web/appsettings.json
/RiverBooks.Web/RiverBooks.Web/obj
/.vs
